.root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(1, 46, 87);
}

@font-face {
  font-family: verdana, sans-serif;
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: verdana, sans-serif;
}

.container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  margin: 5px 0;
    color: white;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}
